<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
			<h1><a href="/">Anmol's Django Blog</a></h1>
    	 </div>
		 <div> 
            <form type="get" action="/search.html/" style="margin: 0">
              <input  id="search_box" type="text" name="search_box"  placeholder="Search..." >
              <button id="search_submit" type="submit">Submit</button>
              author, author_id, created_date, id, number, published_date, text, title
            </form>
        </div> 
        <div> 
            <form type="get" action="/formTest.html/" method="post"> 
                <label for="Search">Search for: </label>
                    {% csrf_token %}
                    {{ form }}
                <input type="text" value="Search"/>
                <button id="search_submit" type="submit">Submit</button>
            </form>
		</div> 
		{% for post in posts %}
			<div>
				<h1><a href="https://tgcat.mit.edu">{{ post.title }}</a></h1>
				<p> Made By: {{ post.author }} </p>
				<p>{{ post.text|linebreaksbr }}</p>
				<p> Created: {{ post.created_date }} </p>
				<p> Published: {{ post.published_date }}</p>
				<p> ID Number: {{ post.number }} </p>
			</div>
		{% endfor %}
    </body>
</html>