<html>
    <head>
        <title>Django Bois blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Bois Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Website in Action</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Dorm B oiz in actione</p>
        </div>
    </body>
</html>